<p><%= respuesta %></p>
<% if(respuesta == 'Incorrecto'){ %>
	<p>La palabra empieza por: <%= quiz.respuesta.substring(0,  fallos ) %><p>
	<p>Te has equivocado <%= fallos %> vez/ces </p>	

<% } %>

<a href="/quizes/<%= quiz.id %>?fallo=<%= fallos %>">Inténtalo otra vez</a>

